

/*html {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/387928/cat-wallpaper.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0px;
  color: #f5f5f5;
}*/

.box {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/387928/sky.gif) no-repeat center;
  background-size: cover;
  position: relative;
  margin: 30px auto;
  height: 400px;
  width: 800px;
}


#kitten {
  display: block;
  margin: 0 auto;
  transform: scale(1.1)
}

body {
	color: black;
	background-color: #F0F0F0;
	margin: 2%;
	padding-top: ;

}

#randomUserOutput {
	margin-left: 23%;
	font-family: Frontage, sans-serif;
}

h3 {
	padding-top: 2.5%;
}

p {
	font-family: sans-serif;
}

.capitalize{
	font-family: sans-serif;
	text-transform: capitalize;
}


